.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 6px;
  height: 54px;
  padding: 9px 30px;
}

.header-notifications {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  background: transparent;
}

.header-logo-image {
  width: 88px;
  height: 22px;
  object-fit: contain;
}

.header-notifications img {
  width: 15px;
  height: 18px;
  object-fit: contain;
}

.header-notifications:hover {
  opacity: 0.85;
}
